# Exported from Render on 2025-12-12T13:48:50Z
version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: 'robo-futebol '
      runtime: node
      repo: https://github.com/vitoriacoimbralevy-maker/robo-futebol
      plan: free
      region: oregon
      buildCommand: npm install
      startCommand: npm start
      autoDeployTrigger: commit
